/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
img.logo{
  position: absolute;
left: 0%;

right: 96.61%;
top: 7.64%;
bottom: 16.59%;
background: linear-gradient(91.47deg, #DC3E88 18.25%, #B840AE 43.34%, #843FE8 78.18%);
}
img.title{
  /* position: absolute; */
  Width: 188.1px;
Height: 32.19px;
margin-top: 2%;
margin-left: 17%;

/* left: 3.62%; */
/* right: 81.21%;
top: 16.96%;
bottom: 15.97%; */

}
nav.bars{
  text-decoration: none;
  margin-top: -1.5%;
margin-left: 30%;

}
a.bar1{
  font-family: 'Red Rose';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-decoration: none;
color: #434343;
padding: 4%;
}
a.bar2{
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
  color: #434343;
  padding: 4%;
}
a.bar3{
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
  color: #434343;
  padding:4%;
}
a.bar4{
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
  color: #434343;
  padding: 4%
}
button.popup{
  
  margin-left: 80%;
margin-top: -45%;

  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  text-decoration: none;
  color: #ffffff;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
border-radius: 10px;

}
p.access{
  text-align: left;
  margin-left:17%;
  margin-top: 10%;
 
  /* width: 64px;
  height: 14px;  */
  
  font-family: 'Red Rose';
  font-style: normal;
  /* font-weight: 400; */
  font-size: 56px;
  /* line-height: 140%; */
  /* or 78px */
  
  /* letter-spacing: -0.02em; */
  
  /* text black */
  
  color: #434343; 
  

}
p.small{
  margin-left:17%;
  margin-top: 2%;
  font-family: 'Red Rose';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
/* or 146% */


/* text black */

color: #434343;
}
input#location{
  margin-left:17%;
  margin-top: 2%;
  box-sizing: border-box;
background: rgba(247, 247, 247, 0.1);
border: 1px solid #A3A3A3;
border-radius: 8px 0px 0px 8px;
width: 390px;
height: 54px;
font-family: 'Red Rose';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 130%;
/* or 18px */


color: #B8B8B8;
}
button.log{
  Width: 230px;
Height:54px;
background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
border-radius: 0px 8px 8px 0px;
font-family: 'Red Rose';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height, or 120% */

text-align: center;

color: #FFFFFF
}
img.stock{

  margin-left:60%;
  margin-top: -50%;
}
nav#bottom{
  margin-top: 7%;
  height: 70px;
 
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%)
}
img.label1{
  padding-left: 20%;
  padding-top: 1%;
height: 35px;
}
img.label2{
  padding-left: 15%;
height: 35px;
}
img.label3{
  padding-left: 20%;
height: 35px;
}
h2.lost{
  font-family: 'Red Rose';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 60px;
/* identical to box height */
text-align: center;

color: #000000;
}
nav.placebars{
  text-decoration: none;
  margin-top: 5%;
margin-left: 14%;
}
a.one{
 
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  padding-left: 4%;
 text-decoration: none;
  
  color: #434343; 
}
a.two{
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
 text-decoration: none;
  padding-left: 4%;
  color: #434343; 
}
a.three{
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
 text-decoration: none;
  padding-left: 4%;
  color: #434343; 
}
a.four{
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
 text-decoration: none;
  padding-left: 4%;
  color: #434343; 
}
a.five{
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
 text-decoration: none;
  padding-left: 4%;
  color: #434343; 
}
a.six{
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
 text-decoration: none;
  padding-left: 4%;
  color: #434343; 
}
a.seven{
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
 text-decoration: none;
  padding-left: 4%;
  color: #434343; 
}
a.eight{
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
 text-decoration: none;
  padding-left: 4%;
  color: #434343; 
}
img.setting{
height: 20px;
width: 20px;
}
button#cloud{
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
border: 1px solid #B4B4B4;
border-radius: 8px;
text-align: center;
/* margin-top: -2%; */
/* margin-top:-6%; */
/* margin-top:-8%; */
/* margin-top:-10%; */
margin-top:-10%;
margin-left: 77%;
top: 20%;
}
div.places{
  margin-left: 17%;
  margin-right: 10%;
  margin-top: 2%;
  
}
img.place1{
  padding-right: 2%;
  padding-bottom: 2%;
}
img.place2{
  padding-right: 2%;
  padding-bottom: 2%;
}
img.place3{
  padding-right: 2%;
  padding-bottom: 2%;
}
img.place4{
  padding-right: 2%;
  padding-bottom: 2%;
}
img.place5{
  padding-right: 2%;
  padding-bottom: 2%;
}
img.place6{
  padding-right: 2%;
  padding-bottom: 2%;
}
img.place7{
  padding-right: 2%;
  padding-bottom: 2%;
}
img.place8{
  padding-right: 2%;
  padding-bottom: 2%;
}
img.place9{
  padding-right: 2%;
  padding-bottom: 2%;
}
img.place10{
  padding-right: 2%;
  padding-bottom: 2%;
}
img.place11{
  padding-right: 2%;
  padding-bottom: 2%;
}
img.place12{
  padding-right: 2%;
  padding-bottom: 2%;
}
img.place13{
  padding-right: 2%;
  padding-bottom: 2%;
}
img.place14{
  padding-right: 2%;
  padding-bottom: 2%;
}
img.place15{
  padding-right: 2%;
  padding-bottom: 2%;
}
img.place16{
  padding-right: 2%;
  padding-bottom: 2%;
}
div#foot{
margin-top: 0%;
width: 1840px;
height: 322px;
left: 0px;
top: 1970px;

background: #1D1D1E;
}
img.dark{
  margin-top: 4%;
  margin-left: 16.7%;
}
div.tweets{
  color: white;
  margin-top: 2%;
  margin-left: 16.7%;
  
}
div#two{
  margin-top: -1.5%;
  margin-left: 3%;
}
div#three{
  margin-top: -1.4%;
  margin-left: 6%;
}
img.at{
  margin-top: 2%;
  margin-left: 16.7%;
}
div.lister{
  margin-top: -9%;
  margin-left: 40%; 
}
div.row{
  margin-top: -11%;
  margin-left: 60%;
}
div.me{
  margin-top: -10%;
  margin-left: 75%;
}
div#eleven{
  color: white;
  padding-bottom: 1%;
}
div#twelve{
  color: white;
  padding-bottom: 1%;
}
div#thirteen{
  color: white;
  padding-bottom: 1%;
}
div#fourteen{
  color: white;
  padding-bottom: 1%;
}
div#moja{
  color: white;
  padding-bottom: 1%;
}
div#mbili{
  color: white;
  padding-bottom: 1%;
}
div#tatu{
  color: white;
  padding-bottom: 1%;
}
div#nne{
  color: white;
  padding-bottom: 1%;
}
h2#first{
  color: white;
  padding-bottom: 1%;
}
h2#hue{
  color: white;
  padding-bottom: 1%;
}
h2#reach{
  color: white;
  padding-bottom: 1%;
}
div#second{
  color: white;
  padding-bottom: 1%;
}
div#third{
  color: white;
  padding-bottom: 1%;
}
div#four{
  color: white;
  padding-bottom: 1%;
}
div#five{
  color:white;
  padding-bottom: 1%;
}
div.nft{
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
border: 1px solid #000000;
margin-top:3%;
}
h2.nf{
  font-family: 'Red Rose';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 60px;
color: white;
margin-top: 10%;
margin-left: 17%
}
h1.hide{
 position:absolute;
 background-color: #A02279;
 height:9%;
 padding-top:1%;
 margin-top: 0%;
 margin-left: 0%;
 color:#A02279;
 width:100%;
}
button.learning{
  /* background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%); */
border-radius: 8px;
color: black;
height:48px;
/* margin-top: 5%; */
position:absolute;
right: 78%;
top: 70%;
}
img.three{
  margin-top: -20%;
margin-left: 39%;
margin-bottom: 5%;
}
p#hide{
  margin-bottom: 25%;
  color:white;
}
p.discover{
  font-family: 'Red Rose';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 35px;
margin-top: 3%;
margin-left: 17%;
background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

}